.black {
    color: black;
}

.spotlight {
    background: white !important;
    color: black;
}
.button {
    /* all:initial; */
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: 3.75em;
    border-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;


    background-color: transparent;
    box-shadow: inset 0 0 0 1px black;
    color: #000000 !important;

}

.button:hover {
    background-color: rgb(68, 67, 67);
    box-shadow: none;
    color: white !important;
}

.button:active {
    background-color: rgba(155, 39, 39, 0.2);
    box-shadow: inset 0 0 0 1px white;
    color: red !important;
}

.content-align-left {
    text-align: left;
    padding: 0;
    margin: 0;
}